# to run pre-commit on demand using below configuration:
# pre-commit run --all-files

default_language_version:
    python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ['--maxkb=1000']
  # ruff (replaces black, flake8, pylint)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  # bandit security checks
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        language: system
        entry: bandit
        args: ["-c", "pyproject.toml", "--recursive", "."]
